@use './svgs' as *;
@use 'sass:meta';

@mixin mouse-interactive-property($property, $c, $ch: $c, $ca: $ch) {
  @if meta.type-of($property) != string {
    @error "mouse-interactive-property: $property (first argument) must be a string, got '#{$property}'";
  }

  & {
    #{$property}: $c;
  }
  &:hover {
    #{$property}: $ch;
  }
  &:active {
    #{$property}: $ca;
  }
}

@mixin mouse-interactive-background($c, $ch: $c, $ca: $ch) {
  @include mouse-interactive-property('background', $c, $ch, $ca);
}

@mixin mouse-interactive-text($c, $ch: $c, $ca: $ch) {
  @include mouse-interactive-property('color', $c, $ch, $ca);
}

@mixin mouse-interactive-border-color($c, $ch: $c, $ca: $ch) {
  @include mouse-interactive-property('border', $c, $ch, $ca);
}

@mixin edge-fade($girth, $color) {
  mask-image: linear-gradient(to top, transparent, #{$color} #{$girth}),
  linear-gradient(to bottom, transparent, #{$color} #{$girth}),
  linear-gradient(to left, transparent, #{$color} #{$girth}),
  linear-gradient(to right, transparent, #{$color} #{$girth});
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to top, transparent, #{$color} #{$girth}),
  linear-gradient(to bottom, transparent, #{$color} #{$girth}),
  linear-gradient(to left, transparent, #{$color} #{$girth}),
  linear-gradient(to right, transparent, #{$color} #{$girth});
  -webkit-mask-composite: destination-in;
}