#ats-dnd-test {
  height: 100%;
  padding: 20px 20px;
  gap: 20px;

  .app-tools-page__page__header {
    width: 100%;
    margin: 0;
    padding: 0 0 10px;
  }

  .ats-dnd-test__stage {
    flex-grow: 1;
    width: 100%;
    gap: 20px;

    .ats-dnd-test__status-board {
      width: 300px;
      height: 100%;
      gap: 10px;

      .ats-dnd-test__status-board-title {
        font: {
          size: 20px;
          weight: bold;
        }
      }

      .ts-dnd__dropzone {
        height: 0;
        flex-grow: 1;
        width: 100%;
        border: 2px dashed black;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: border-color 300ms linear, background 300ms linear;
        overflow-y: auto;

        &[data-dz-active='true'] {
          border-color: blue;
        }

        &[data-dz-receiver='true'] {
          background: #0000ff20;
        }
      }
    }

    .ats-dnd-test__item {
      width: 100%;
      min-height: 150px;
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px;
      background: white;
      gap: 10px;

      .ts-dnd__draggable-anchor {
        float: left;
        width: 20px;
        height: 20px;
        padding: 1px;

        .icon--wrapper {
          width: 100%;
          height: 100%;
          cursor: grab;
        }
      }

      .ats-dnd-test__item__id {
        display: inline-block;
        height: 20px;
        padding: 2px 4px;
        font: {
          size: 12px;
        }
        text-transform: uppercase;
        background: #808080;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

      .ats-dnd-test__item__label {
        margin-top: 10px;
        width: 100%;
        font: {
          size: 14px;
          weight: bold;
        }
      }

      &.with-anchor {
        .ats-dnd-test__item__id {
          margin-left: 10px;
        }
      }
    }
  }
}